.button{
    background: linear-gradient(93.65deg, rgba(255, 3, 93, 0.45) 7.67%, rgba(0, 131, 253, 0.45) 56.72%, rgba(30, 250, 210, 0.45) 100%);
    cursor: pointer;
 transition: 0.3s;
border: 1px solid #000000;
 display: inline-block;
border-radius: 20px;
padding:10px 20px ;
font-weight: 500;
line-height: 1;
margin: 10px 0;
width: 100%;
font-size: 14px;
text-align: center;
text-decoration: none;
 
position: relative;
&::after{
    opacity: 0 ;
    transition: 0.3s;
      position: absolute;
      border: 1px solid #000000;
border-radius: 20px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      content:"";
  pointer-events: none;
        background: rgb(116, 176, 255);
  }

        &:hover{
       
                &::after{
                    opacity: 0.3;
                }
          
        }
@include tablet{
    width: auto;
    margin: 10px;
    padding:15px 30px;
    font-size: 16px;
}
}


.popup-order{
    position: fixed;
    border: solid black 1px;
    background-color: rgb(216, 216, 216);
    z-index: 200;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    top: 50%;
    left: 50%;
    min-width: 200px;
    min-height: 200px;
    transform: translate(-50% , -50%);
    &__bgc{
        background-color: rgba(71, 71, 71, 0.863);
        position: fixed;
        top: 0;
        height: 0;
        left: 0;
        bottom: 0;
        z-index: 199;
        height: 100%;
        width: 100%;
    }
}